.app {
  display: flex;
  margin: auto;
  width: 100%;
  padding: 32px 24px;
  gap: 24px;
  max-width: 1500px;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 999;
  gap: 28px;
}

form {
  padding: 18px;
  border-radius: 12px;
}

.edit-side {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 750px;
  flex-grow: 1;
}
.downloadBtn{
  height: 50px;
  background-color:whitesmoke;
  border-radius: 20px;
  font-weight:bold;
  border:5px;
}
.downloadBtn:hover{
  transition:.5s;
  background-color:gray;
  color:white;
}
