.expand-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 10px;
}

.expand-section-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}
